<h2>Students at Hogwarts</h2>

<% @students.each do |student| %>
    <p><%= link_to "#{student.first_name} #{student.last_name}", student_path(student) %><p>
<% end %>

<button><%= link_to "Create New Student", new_student_path %></button>
